Datasets
.ipynb_checkpoints
__pycache__
*.pyc
.env

backend/Samples
backend/Pretrained_Weights
backend/**/__pycache__

frontend/node_modules
frontend/dist
Frontend/node_modules
Frontend/dist

white_Noise2Noise
static